<div class="container-fluid">
    <h4 class="fw-bold mb-3">🏨 Room Type Amenities</h4>
    <div class="row">
        <div class="col-md-3 border-end">
            <h6 class="fw-semibold mb-2">Room Types</h6>

            <select class="form-select" [(ngModel)]="selectedRoomTypeId" (change)="onRoomTypeChange()">

                <option *ngFor="let rt of roomTypes" [value]="rt.roomTypeID">
                    {{ rt.typeName }}
                </option>

            </select>
        </div>


        <div class="col-md-9">
            <div class="row g-3 mt-2">
                <div class="d-flex mb-3">
                    <input type="text" class="form-control" placeholder="Search amenities..." [(ngModel)]="searchText"
                        (input)="onSearch()">
                </div>

                <div class="col-md-4" *ngFor="let amenity of pagedAmenities">
                    <!-- <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <div class="form-check">
                                <input type="checkbox" class="from-check-input" [checked]="isChecked(amenity.amenityID)"
                                    (change)="toggleAmenity(amenity.amenityID)" [disabled]="!amenity.isActive">

                                <label class="form-check-label fw-semibold">
                                    {{ amenity.name }}
                                </label>
                            </div>
                            <small class="text-muted">
                                {{ amenity.description }}
                            </small>
                        </div>
                    </div> -->
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <div class="form-check d-flex align-items-center">
                                <input type="checkbox" class="form-check-input me-2"
                                    [checked]="isChecked(amenity.amenityID)" (change)="toggleAmenity(amenity.amenityID)"
                                    [disabled]="!amenity.isActive">

                                <label class="form-check-label fw-semibold d-flex align-items-center">
                                    <!-- Icon based on amenity name -->
                                    <i [class]="getAmenityIcon(amenity.name) + ' fs-5 text-primary me-2'"></i>
                                    {{ amenity.name }}
                                </label>
                            </div>

                            <small class="text-muted">
                                {{ amenity.description }}
                            </small>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <nav class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <button class="page-link" (click)="changePage(currentPage - 1)">
                        Prev
                    </button>
                </li>

                <li class="page-item" *ngFor="let p of [].constructor(totalPages); let i = index"
                    [class.active]="currentPage === i + 1">
                    <button class="page-link" (click)="changePage(i + 1)">
                        {{ i + 1 }}
                    </button>
                </li>

                <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <button class="page-link" (click)="changePage(currentPage + 1)">
                        Next
                    </button>
                </li>
            </ul>
        </nav>
        <div class="d-flex justify-content-end gap-2 mt-3">
            <button class="btn btn-secondary" (click)="reset()" [disabled]="!isDirty">
                Reset
            </button>

            <button class="btn btn-primary" (click)="saveChanges()" [disabled]="!isDirty">
                Save Changes
            </button>
        </div>
    </div>
</div>
<app-toast #toast></app-toast>